body {
    background-color: #eee;
}

/* section for span styles begins */

.accent-red {
    color: #cc001a;
    font-weight: bold;
}

/* keep this purple! */
.accent-purple {
    color: #3973ac;
    font-weight: bold;
}

/* section for span styles ends */

/* section for extra-small screens (xs) begins */

.container {
    background-color: #eee;
    width: 95%;
}

.header-light {
    background-color: #c8c8c8;
    margin: 0 0 3px 0;
    padding: 20px;
}

.header-light img, .header-dark img {
    background: transparent;
    border-radius: 50%;
}

.block {
    background-color: #bebebe;
    width: 100%;
    margin: 0 0 3px 0;
    padding: 20px;
}

.block p {
    line-height: 1.3em;
    margin-bottom: 1.3em;
}

.block .contact-info-block {
    line-height: 1.3em;
    margin: 0 0 0.2em 0;
}


.accent-bar {
    /*background-color: #3973ac;*/
    background-color: #3990ac;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}

.accent-bar .accent-bar-header {
    color: #d3d3d3;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.accent-bar .plain-text {
    color: white;
    margin: 0;
    line-height: 1.2em;
}

h2 {
    font-size: 16pt;
    margin-bottom: 1.2em;
}

p {
    font-size: 1em;
}

/* section for extra-small screens (xs) ends */

/* section for large screens (lg) begins */

.container {
    background-color: #eee;
    width: 95%;
}

.header-light {
    background-color: #c8c8c8;
    margin: 0 0 0 0;
    padding: 20px;
}

.header-light img, .header-dark img {
    background: transparent;
    border-radius: 50%;
}

.block {
    background-color: #bebebe;
    width: 100%;
    margin: 3px 0 0 0;
    padding: 20px;
}

.block p {
    line-height: 1.3em;
    margin-bottom: 1.3em;
}

.block .contact-info-block {
    line-height: 1.3em;
    margin: 0 0 0.2em 0;
}


.accent-bar {
    /*background-color: #3973ac;*/
    background-color: #3990ac;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}

.accent-bar .accent-bar-header {
    color: #d3d3d3;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.accent-bar .plain-text {
    color: white;
    margin: 0;
    line-height: 1.2em;
}

h2 {
    font-size: 16pt;
    margin-bottom: 1.2em;
}

p {
    font-size: 12pt;
}

/* section for extra-large screens ends */