body {
    background-color: #eee;
}

.container {
    background-color: #eee;
    width: 95%;
    margin: 15px auto 15px auto;
}

.header {
    background-color: #bebebe;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}

.block {
    background-color: #bebebe;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}

h1 {
    color: red;
}