body {
    background-color: #eee;
}

/* section for extra-small screens begins */

.container {
    background-color: #eee;
    width: 95%;
    margin: 15px auto 15px auto;
}

.header {
    background-color: #bebebe;
    margin: 0 0 20px 0;
    padding: 20px;
}

.header-image {
    background-color: #bebebe;
}

.header-image img {
    background: transparent;
    border-radius: 50%;
    height: 60%;
}

.block {
    background-color: #bebebe;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}

h1 {
    color: red;
}

/* section for extra-small screens ends */